* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;  
}
#backgr {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFA500;
    opacity: 0;
    transition: opacity 0.3s;
}
.progressBar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 3px;
    width: 0vw;
    background-color: #FF7F50;
}
.main {
    overflow: hidden;
    width: 100%;
    /*padding-right: 20px;*/
}
.columns {
/*    -webkit-column-fill: auto;
    -webkit-column-width: 100vw;
    -webkit-column-gap: 10vw;
    -moz-column-fill: auto;
    -moz-column-width: 300px;
    -moz-column-gap: 40px;*/
    column-fill: auto;
    column-width: 100vw;
    /*column-gap: 5vw;*/
    
    /*column-rule: 1px solid red;*/
    height: 612px;

    text-align: justify;
    width: auto;
    overflow-x: hidden;
    user-select: none;
    padding-top: 3px;
}

h1 {
    text-align: center;
    padding: 2vh 5vw;
}
p {
    padding: 0vh 5vw;
}

.columns > p:last-of-type {
    margin-right: 10vw;
}
.italic {
    font-style: italic;
}
