/* Font + typography */
body {
    font-family: "Libertinus Serif", serif;
}

strong {
    font-weight: 600;
}

p {
    line-height: 1.5;
    font-size: 20px;
}

/* Theme variables */
:root {
    --bg: #ffffff;
    --text: #000000;
}

[data-theme="dark"] {
    --bg: #121212;
    --text: #e0e0e0;
}

/* Apply theme */
html {
    background-color: var(--bg);
}

body {
    color: var(--text);
    background-color: transparent; /* important */
}

/* Apply theme */
body {
    background-color: var(--bg);
    color: var(--text);
}

/* Toggle button */
#theme-toggle {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000;

    font-size: 20px;
    line-height: 1;

    background: none;
    border: none;
    cursor: pointer;

    opacity: 0.7;
}

#theme-toggle:hover {
    opacity: 1;
}
