body{
   background-color: #f9e6ca;
}
em{
   color: #000;
}
#content{
   width: 80%;
   margin: 0 auto;
}

.chapter{
  color: #666;
  text-align: center;
}

.p {
  font-family: verdana;
  font-size: 20px;
}
.chapter{
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin: 2em;
}

.dev{
  color: #666;
  text-align: center;
}

.end{
  color: #666;
  text-align: center;
}

.purport{
  color: #666;
  text-indent: 2em;
}

.purportT{
  color: #000;
  text-align: center;
  font-weight: bold;
}

.quote{
  color: #666;
  text-align: center;
  margin:1em;
}

.trans{
  color: #666;
  margin:1em;
}

.transT{
  color: #000;
  text-align: center;
  font-weight: bold;
}

.verse{
  color: #666;
  text-align: center;
  margin:1em;
}

.wbw{
  color: #666;
  margin:1em;
}

