body {
        font-size: large;
        font-family: 'Noto Serif', serif;
        background-image: url("../img/body-bg.jpg");
    }
img {
        text-align: center;
    }
em {
        color: #5B0000;
}
a {
        color: #bc2e07;
}
.cont   {
        text-decoration: none;
        
}
h2  {
        text-align: center;
}
#content {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto
    }
.index  {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    color: #1d1601;
    font-size: large;
    line-height: 1.8em;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: .5em;    
}    
.centered {
        text-align: center;
    }
.tat {
	text-indent: 2em;
	margin-top: 0.5%;
	margin-bottom: 1%;
        font-weight: bold;
}
.pratipada {
	margin-top: 1em;
	margin-bottom: 1em;
}
.RomSloka {
        font-style:italic;
        text-indent: 0;
	/*font-size: 1.25em;*/
	color: #5B0000;
	/*letter-spacing : 1px;*/
	margin-top: 1%;
	line-height : 125%;
	margin-bottom: 1%;
        margin-left: 1em;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.btn    {
  
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        list-style: none;
        box-sizing: border-box;
        text-decoration: none;
        touch-action: manipulation;
        
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        line-height: 1.25;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background: #f7e1a8;
        color: #735403;
        padding: .6em 2.5em;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(115,84,3,.4);
        font-size: 1em;        
}
.chevron {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    line-height: 1.25;
    color: #735403;
    font-size: 1em;
    box-sizing: border-box;
    margin-right: .3em;
}

    .agttsd {
        max-width:36em;
        margin-left:auto;
        margin-right:auto;
    }
    h1{
        font-style:italic;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h1.chapter {
        font-style:normal;
        font-weight:normal;
        letter-spacing: 0.5em;        padding-left: 3.75em;
        padding-bottom:2em
    }
    .sign{
        text-align: right;
        word-break: normal;
        hyphens: none;
    }     
    .conv{
        text-indent: 0;
    }
    .quote{        padding-left: 3.75em;
        padding-bottom:2em
    }
    .sign{
        text-align: right;
        word-break: normal;
        hyphens: none;
    }     
    .conv{
        text-indent: 0;
    }
    .quote{
        text-indent: 0;
        font-style: italic;
        text-align: center;
    }
    .inquote{
        display: inline-block;
        text-align: left;
    }    
    .rule{
        border-top: 2px solid #746a6a;
    }
    .footrule{
        border-top: 1px solid #746a6a;
        width:50%;
        text-align:left;
        margin-left:3em;
        margin-bottom:0;
    }
        text-indent: 0;
        font-style: italic;
        text-align: center;
    }
    h3 {
        text-align: right;
        font-family: 'Noto Serif', serif;
    }
    h4{
        text-align:left;
        font-family: 'Noto Serif', serif;
    }    
    a{
        font-family: 'Noto Serif', serif;    
    }
    p {
        max-width: 36em;
        text-indent: 1em;
        line-height: 1.6;
        font-family: 'Noto Serif', serif;
        word-break: break-word;
        hyphens:auto;
    }
    h3{
        text-align: center;
        word-break: break-word;
        hyphens:auto;
    }    
    @media screen and (min-width: 40em){
        p {
        padding-left: 3em;
        }
        .index {
        /*padding-left: 20%;*/
        }
    }
    p.footnote{
        text-indent: 0em;
        font-size:0.8em;
        padding-left: 3.75em;
        padding-bottom:2em
    }
    .sign{
        text-align: right;
        word-break: normal;
        hyphens: none;
    }     
    .conv{
        text-indent: 0;
    }
    .quote{
        text-indent: 0;
        font-style: italic;
        text-align: center;
    }
    .inquote{
        display: inline-block;
        text-align: left;
    }    
    .rule{
        border-top: 2px solid #746a6a;
    }
    .footrule{
        border-top: 1px solid #746a6a;
        width:50%;
        text-align:left;
        margin-left:3em;
        margin-bottom:0;
    }
